body {
  margin: 0;
  padding: 0;
}

.board{
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

.results{
  margin-bottom: 50px;
  padding: 10px 15px;
  border: 1px solid #ccc;
}

.singleMatch{
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
}

.teams{
  flex: 1;

}
.result, .action{
  flex: 1;
  font-weight: 600;
  text-align: right;
}
.result.gameover{
  color: red;
}